:root {
    --back: hsl(0 0 0%);
    --mid: hsl(0 0 5%);
    --top: hsl(0 0 10%);

    --sharp-text: hsl(0 0 95%);
    --muted-text: hsl(0 0 70%);
}

.experienceFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: var(--mid);
    color: var(--sharp-text);
    padding: 1rem;
    border-radius: 8px;
    border: solid 1px hsl(0, 0%, 30%);
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: var(--top);
    padding: 1rem;
    border-radius: 8px;
    border: solid 1px hsl(0, 0%, 30%);
}

form > div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

input {
    background-color: var(--top);
    color: var(--sharp-text);
    border: solid 1px hsl(0, 0%, 30%);
    padding: 0.5rem;
}

.buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

textarea {
    background-color: var(--top);
}